@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/*general style*/
html {
  position: relative;
}

body {
  font-family: "Indie Flower", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: url(/assets/images/emoji-background.jpg) no-repeat center center/cover;
  /*background-image: linear-gradient(to bottom right, rgb(124, 55, 141), rgb(231, 231, 164));*/
}
h1 {
  font-size: 250%;
  text-align: center;
}

/*interactive game area*/
#game-area {
    border-color: black;
    background-image: linear-gradient(rgb(124, 55, 141), rgb(231, 231, 164));
    width: 85%;
    height: 47vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
    padding: 1%;
    border-radius: 3%;
  
   
}

/*card section only*/
#game-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 2em;
  border-style: ridge;
  border-color: aliceblue;
  background-color: white;
  margin-left: 0.5em;
  margin-right: 0.5em;

}

.game-symbol {
  width: 4rem;
  height: 4rem;
  padding: 1em;
  
}
.hidden {
  display: none !important;
}

#lose-win {
 position: absolute;
  top: 20em;
  left: 1em;
  z-index: 99;
  width: 90vw;
  height: 44vh;
  background: rgba(104, 63, 105, 0.9);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: black;
  border-style: solid;
}

.final-results {
  font-size: 200%;
  background-color: violet;
  padding: 1em;
}

#lose {
  font-size: 200%;
  background-color: violet;
  padding: 1em;
  margin-top: 1em;

}

#win {
  font-size: 200%;
  background-color: violet;
  margin-top: 1em;

}

#restart-game {
  padding: 1.5em;
  margin-right: auto;
  background-color: rgb(104,63,105);
}

/*play button area*/
button {
  padding: 1rem;
  margin-top: 4rem;
  margin-left: 24%;
  font-family: inherit;
  font-size: 150%;
  border-style: outset;
  border-radius: 50%;
  background-color: rgba(104, 63, 105, 0.5);
}

/*results area*/
#game-rules {
  background-color: rgba(104, 63, 105, 0.6);
  width: 85%;
  height: 15rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

/*gamerule section*/
#show-score {
  width: 85%;
  height: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  font-size: 250%;
  text-align: center;
}


/*media screen adjustments*/
@media screen and (min-width: 768px) {

  #game-area {
    height: 33vh;
  }

  #game-card {
    justify-content: space-evenly;
  }

  button {
    margin-left: 37%;
  }
}

@media screen and  (min-width: 992px) {
  
#game-area {
  padding: 5%
}

#game-rules {
  padding: 2em;
  font-size: 130%;

}
}