@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/*general style*/
body {
  font-family: "Indie Flower", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: linear-gradient(to bottom right, rgb(124, 55, 141), rgb(231, 231, 164));
}
h1 {
  font-size: 250%;
}

/*interactive game area*/
#game-area {
    border-color: black;
    background-image: linear-gradient(rgb(124, 55, 141), rgb(231, 231, 164));
    width: 85%;
    height: 41vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
  
   
}

/*card section only*/
#game-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 4em;
  border-style: ridge;
  border-color: aliceblue;
  background-color: white;

}

.game-symbol {
  width: 4rem;
  height: 4rem;
  padding: 1em;
  
}

/*button area*/
button {
  padding: 1rem;
  margin-top: 4rem;
  margin-left: 24%;
  font-family: inherit;
  font-size: 150%;
  border-style: outset;
}

/*results area*/
#game-results {
  background-color: rgba(104, 63, 105, 0.6);
  width: 85%;
  height: 10rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}

/*gamerule section*/
#show-score {
  width: 85%;
  height: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  font-size: 250%;
  text-align: center;
}


/*media screen adjustments*/
@media screen and (min-width: 768px) {

  #game-area {
    height: 33vh;
  }

  #game-card {
    justify-content: space-evenly;
  }

  button {
    margin-left: 37%;
  }
}

